#container{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 180px;
    width: 250px;
    background-color: rgb(25, 0, 255);
}
img{
    margin: 5px;
}
button{
    margin-top: 5px;
}
#verify{
    margin-top: 10px;
}